body{
    min-height: 100%;
    margin: 0;
    display: block;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-size-adjust: 100%;
    background-size: cover;
}
.header{
    align-items: center;
    background-color: #0026E4;
    height: 70px;
    width: 100%;
    padding-bottom: 0px;
    padding-left:3%;
    padding-right:3px;
    padding-top: 0px;
    position: fixed;
    display: flex;
    z-index: 3;
}
.mail{
    height: 4%;
    width: 4%;
}
.header a{
    color: #fff;
    text-decoration: none;
}
.nav-container {
    width: 30%;
}
nav {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    display: inline;
    box-sizing: border-box;
}
.about, .work, .cv, .contact {
    padding-right: 5%;
    font-size: medium;
}

.social{
    width: 25%;
    /* height: 70px; */
}
.fab{
   height: 6%;
   width: 6%;
}
a{
    border: none;
}
a:active, a:focus, a:hover {
    outline: 0;
}
/* .fas{
    font-size: 20px;
    text-decoration: #fff;
} */
.social a{
    padding-left: 5%;
}
.logo-wrap{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 0;
    width: 50%;
    flex: 1 1 0%;
}
.preserve-whitespace{
    font-family: "Josefin-Sans", sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    padding-left: 100px;
}
.hamburger{
    margin-right: 5%;
    position: relative;
    width: 24px;
}
.hamburger i {
    display: block;
    height: 2px;
    margin-bottom: 4px;
}
.hamburger-click-area {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    padding: 30px 5%;
    position: absolute;
    right: 0;
    -webkit-tap-highlight-color: transparent;
    top: 50%;
}
.hamburger i:last-child {
    margin-bottom: 0;
}
.hero{
    width:100%;
    background-size: cover;
}
.body-text h1 {
    color: #fff;
    margin-top: -35%;
    margin-bottom:30px;
    font-size: 36px;
    line-height: 1.6;
    font-weight: bold;
    position: absolute;
    padding-left: 10%;
}
#about-me{
    padding-left: 10%;
    height: 100%;
}
#about-me p{
    font-weight: 501;
    font-size: 18px;
    line-height: 1.8;
}
#about-me p span{
    color: #002BFF;
    text-decoration: none;
}
#about-me p span a{
    text-decoration: none;
}
.down{
    height:3%;
    width: 3%;
}
#my-work{
   /* text-align: center; */
   padding-left: 10%;
    margin-top: 10%;
    height: 100%;
}
#my-work h3{
    margin-bottom: 3%;
}
.one{
    height:270px;
    width: 340px;
}
#my-work img {
    height: 220px;
    width: 280px;
    background-size: cover;
}
.top{
    display: inline-flex;
}
.color{
    background-color: #002BFF;
    opacity: 0.5;
    display: none;
}
.nine{
    height: 220px;
    width: 280px;
}
/*.middle, .bottom{
    display: inline-flex;
} */

@media (max-width: 768px) {
    .example-site-footer .desktop {
      display: none; }
    .example-site-footer .mobile {
      text-transform: capitalize; }
      .social{
          display: none;
      }
      .preserve-whitespace{
        padding: 0;
        margin: 0;
        }
    }
@media (max-width: 540px) {
    .masthead-button + .masthead-button-spacer {
      display: block;
      height: 17px; }
      .masthead-button + .masthead-button-spacer + .masthead-button {
        margin-left: 0; }
        .top{
            display: block;
        }
}
@media (max-width: 768px) {
    .nav-social {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 8px;
      padding-right: 0px;
    }
    .preserve-whitespace{
        padding: 0;
        margin: 0;
        font-size: medium;
        }
}
@media (max-width: 540px) {
    .nav-social {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 7px;
      padding-right: 0px;
    }

    .preserve-whitespace{
        padding: 0;
        margin: 0;
        font-size: small;
        }
    .social{
        display: none;
    }
    .body-text h1 {
        font-size: 16px;
        margin-top: -28%;
    }
    #about-me p{
        font-size: 14px;
        line-height: 1.8;
        padding-right: 15%;
    }
    #about-me h3{
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    nav {
      display: none;
      padding: 0;
      width: 100%; }
    .site-header {
      padding-left: 5%;
      padding-right: 5%; }

      .hamburger-click-area {
        display: block; }
      .hamburger i {
        background-color: #ffffff;
    }
    .body-text h1 {
        font-size: 24px;
        margin-top: -30%;
    }
    
}
