body{
    min-height: 100%;
    margin: 0;
    display: block;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-size-adjust: 100%;
}
.header{
    align-items: center;
    background-color: #0026E4;
    height: 70px;
    width: 100%;
    padding-bottom: 0px;
    padding-left:3%;
    padding-right:3px;
    padding-top: 0px;
    position: fixed;
    display: flex;
    z-index: 3;
}
.header a{
    color: #fff;
    text-decoration: none;
}
.nav-container {
    width: 30%;
}
nav {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    display: inline;
    box-sizing: border-box;
}
.about, .work, .cv, .contact {
    padding-right: 5%;
    font-size: medium;
}
a{
    border: none;
}
.social{
    width: 20%;
}
.fab{
    font-size: 20px;
    text-decoration: #fff;
}
.fas{
    font-size: 20px;
    text-decoration: #fff;
}
.social a{
    padding-left: 5%;
}
.logo-wrap{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-top: 0;
    width: 80%;
    flex: 1 1 0%;
}
.preserve-whitespace{
    font-family: "Josefin-Sans", sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    padding-left: 140px;
}
.body-text h1 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 70px;
    margin-bottom:30px;
    margin-top: -35%;
    text-align: center;
    text-transform: none;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    display: inline-block;
    position: absolute;
}
#about-me{
    text-align: center;
    height: 100%;
}
#about-me p{
    font-weight: 501;
    font-size: 18px;
    line-height: 1.6;
}
#about-me p span{
    color: #002BFF;
    text-decoration: none;
}
#about-me p span a{
    text-decoration: none;
}
.down-two{
    height:1%;
    width: 1%;
}
#my-work{
    text-align: center;
    margin-top: 10%;
    height: 100%;
}
#my-work h3{
    margin-bottom: 3%;
}
#my-work img {
    height: 270.95px;
    width: 343px;
}
.top, .middle, .bottom{
    display: inline-flex;
}
.section-three{
    margin-top: 3%;
    height: 100%;
/* }
label{
    text-align: start;
} */
/* .form-input{
    height: 32px;
    width: 500px;
    border-radius: 4px;
    line-height: 1.4;
    border: 1px solid #ccc;
    padding: 6px 12px;
    text-align: start;
    stroke-width: 1px;
    stroke-opacity: 1;
    text-decoration: solid;
    text-shadow: none;
    outline: none;
}
.input-area{
    width: 500px;
    height: 250px;
    border-radius: 4px;
    line-height: 1.4;
    border: 1px solid #ccc;
    padding: 6px 12px;
    text-align: start;
    stroke-width: 1px;
    stroke-opacity: 1;
    text-decoration: solid;
    text-shadow: none;
    outline: none;
}
#pre{
    margin-left: -34%;
    font-weight: 500;
}
#pre1{
    margin-left: -29.5%;
    font-weight: 500;
}
#pre2{
    margin-left: -32%;
    font-weight: 500;
}
.name{
    margin-bottom: 2%;
}
.email{
    margin-bottom: 2%;
}
::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}
button{
    height: 40px;
    width:100px;
    margin-left: -31.5%;
    border-radius: 4px;
    line-height: 40px;
    background-color: #002BFF;
    color: #fff;
    font-weight: bold;
    border: 0;
} */
